@mixin arrow ($display, $transform, $padding, $border, $br, $width, $heigh){
    display: $display;
    transform: $transform;
    padding: $padding;
    border: $border;
    border-radius: $br;
    width: $width;
    height: $heigh;
}

.auguste {
    width: 1280px;
    height: 697px;
    background-color: $color-light-l;

    &-wrapper {
        padding: 80px 40px 100px 40px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-text {
            color: $color-dark-l;
            font-family: Georgia;
            font-size: 35px;
            letter-spacing: 2.1px;
            text-align: center; 
            margin-bottom: 60px;
        }

        &-cards {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            width: 70%;
            margin-bottom: 60px;

            &-card {
                background-color: $color-light-s;
                display: flex;
                width: 100%;
                height: 435px;
                padding-bottom: 0px;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                border-radius: 9px;

                &-image {
                    width: 270px;
                    height: 270px;
                    display: flex;
                }

                &-name {
                    color: $color-dark-l;
                    font-family: Georgia;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    text-align: center;
                    letter-spacing: 1.2px;
                }

                &-learn {
                    font-family: Georgia;
                    font-size: 17px;
                    border-radius: 100px;
                    border: 2px solid $color-primary;
                    display: flex;
                    padding: 15px 45px;
                    letter-spacing: 1.02px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $color-light-xl;
                }
            }   
        }
    }

    &-arrow-left,
    &-arrow-right {
        @include arrow(flex,scale(1),23px 19px, 2px solid $color-primary, 50%, 52px, 52px );
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 422px;

        & img {
            width: 14px;
            height: 6px;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-primary;
        }
    }
    &-arrow-left {
        left: 3%;
    }

    &-arrow-right {
        transform: scale(-1);
        right: 3%;
    }

    &-submit {
        display: flex;
        justify-content: center;

        &-text {
            color: $color-dark-3xl;
            border-radius: 100px;
            border: 9px solid $color-primary;
            background-color: $color-primary;
            padding: 15px 45px;
            font-family: Georgia;
            font-size: 17px;
            letter-spacing: 1.02px;
        }

        .auguste-submit-text:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1280px) {
    .auguste {
        width: 768px;
    }

    .auguste-wrapper-cards {
        width: 90%;
       
    }

    .auguste-wrapper-cards-card:last-child{
        display: none;
    }


    .auguste-arrow-left {
        transform: scale(1);
        left: 0%;
    }

    .auguste-arrow-right {
        transform: scale(-1);
        right: 0%;
    }
}

@media screen and (max-width: 320px) {
    .auguste {
        width: 100%;
        height: 890px;
       
    }
    .auguste-wrapper{
        padding: 0;
    }

    .auguste-wrapper-text { 
        width: 100%;  
        font-size: 25px; 
        margin-top: 42px;
    }
    
    .auguste-wrapper-cards {
        width: 85%;    
    }

    .auguste-wrapper-cards-card:nth-child(even) {
        width: 85%;
        display: none;
    
    }

    .auguste-arrow-left {
        left: 65px;
        top: 535px;
        margin-top: 100px;
    }
    
    .auguste-arrow-right {
        left: 202px;
        top: 535px;
        margin-top: 100px;


    }
    .auguste-submit {
        width: 320px;
        padding-top: 100px;
    }
}