.paddings {
    padding: 80px 40px 100px 40px;
    width: 1280px;
}

.nikita {
    width: 1280px;
    height: 611px;

    .paddings {
        padding: 80px 40px 100px 40px;

        .nikita-help {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 87px;
            gap: 60px;

            &-text {
                font-family: Georgia, 'Times New Roman', Times, serif;
                width: 308px;
                font-size: 35px;
                text-align: center;
                font-weight: 400;
            }
        }
    }
}

.nikita-list {
    width: 1026px;

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            &-text {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}

.nikita-list2 {
    width: 1026px;

    &-list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            &-text {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}